name: PR CI Check

on:
  pull_request:
    branches:
      - main

jobs:
  ci-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Echo commit info
        run: |
          echo "Commit SHA: ${{ github.sha }}"
          echo "Actor: ${{ github.actor }}"

      - name: Run shell script
        run: |
          chmod +x backup_logs.sh
          ./backup_logs.sh
